@import url('style.css'); /* Importing your main CSS file */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 1em;
    color: #333;
    /* Use the same gradient as your main website */
}

.container {
    width: 80%; /* Adjust as needed */
    margin: 0 auto;
}

section {
    margin: 2em 0;
    padding: 1em;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-in-out forwards;
}

section h1 {
    margin-bottom: 0.5em;
}

section p {
    margin-bottom: 1em;
}

section img {
    max-width: 50%; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}