@import url('style.css'); /* Importing your main CSS file */
* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(to right, #E6E6FA, #B0C4DE); */
    background: #F5F5F5;
    color: #000;
}

#header {
    width: 100%;
    height: 100vh;
    /* background-image: url("./images/main\ web\ welcome.jpg"); */
    background-size: cover;
    background-position: center;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    padding: 20px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
    background: linear-gradient(45deg, #dcd6f7, #fde2e4);
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a:hover {
    color: #5d5d5d;
}

.header-text {
    width: 100%;
    margin-top: 10%;
    font-size: 30px;
    color: #000;
}

.header-text h1 {
    font-size: 60px;
    margin: 20px;
}
.header-text p {
    font-size: 40 px;
    margin: 20px;
}
/* QUIZ-Learning CSS */

#container-quiz-learning {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#quiz-learning {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#quiz-learning h2 {
    font-size: 24px;
    margin-bottom: 20px;
    align-self: flex-start;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
.books {
    display: flex;
    flex-wrap: wrap;
    justify-content : space-evenly;
    align-items: center;
    gap: 17px;
    width: 100%;
    height: 300px;
    background-color: #fde2e4;
    border-radius: 15px;
    margin-top : 40px;
    padding: 20px;
}

.flip-card {
    background-color: transparent;
    width: 160px;
    height: 190px;
    font-family: sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add shadow / transition: 0.3s; margin-bottom: 20px; / Add margin */
}

.flip-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner {
    position: relative;
    width: 140px;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, rgb(95, 172, 223) 60%, rgb(156, 202, 249) 88%, rgb(255, 211, 195) 40%, rgba(28, 20, 17, 0.603) 48%);
    color: coral;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(100, 165, 218) 30%, rgb(45, 151, 205) 88%, bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
}

.books a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.books img {
    height: 203px;
    width: 153px;
    margin-bottom: 10px;
    /* Add some space between the image and the paragraph */
}

.books a p {
    text-align: center;
    font-size: 10px;
    text-wrap: wrap;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #ff6347, #40e0d0);
    /* Change these to any colors you want */
}

#yt-links {
    height: 300px;
    width: 100%;
    padding: 20px;
    background-color: #dcd6f7;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.links-yt{
    width: 295px;
    height: 180px;;
}

#yt-links iframe {
    width: 295px;
    height: 180px;
    margin-bottom: 20px;
    border: 2px solid black;
    margin-left: 10px;
    border-radius: 25px;
}

#yt-links h2 {
    color: #000000;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    padding-left: 50px;
}

#yt-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex: 1 0 21%;
    margin: 10px;
    box-sizing: border-box;
    margin-left: 70px;
}

#yt-links ul li {
    margin-bottom: 10px;
}

#yt-links ul li a {
    color: #0066cc;
    text-decoration: none;
}

#yt-links ul li a:hover {
    text-decoration: underline;
}




#quiz-learning {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#learning-link {
    height: 370px;
    width: 50%;
}

.quiz-container {
    padding-top :15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 400px;
    background-color: #fde2e4;
    border-radius: 15px;
    position: relative;
    top: 38px;
}
.quiz-container h2{
    text-align: center;
    position: relative;
    left : 80px;
}


#quiz {
    height: 450px;
}

#quiz,
#right-side {
    position: relative;
    top: 40px;
    flex: 1;
    text-align: center;
}

#right-side {
    top: 80px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 15px;
}

#right-side h3 {
    margin-top: 20px;
}

#question-image {
    position: relative;
    left: 5px;
    width: 100%;
    height: 20%;
    border: 4px solid black;

}

#choices {
    display: flex;
    flex-direction: column;
}

.choice-button {
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 13px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Add this line */
}

.choice-button:hover {
    transform: scale(1.05);
    /* Add this line */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    /* Add this line */
}

#score-image {
    width: 100px;
    transition: opacity 1s ease-in-out;
}

#start,
#play-again {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

}

#start:hover,
#play-again:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    /* Add this line */
}

nav .fas {
    visibility: none;
}


@media only screen and (max-width: 768px) {
    nav .fas {
        visibility: visible;
    }
    body {
      font-size: 14px;
    }
  
    #header {
      height: 100vh;
      background-position: center;
      background-size: cover;
    }
  
    .header-text {
      width: 100%;
      margin-top: 10%;
      font-size: 24px;
    }
  
    .header-text h1 {
      font-size: 36px;
    }
  
    .header-text p {
      font-size: 30px;
    }
  
    #container-quiz-learning {
      flex-direction: column;
    }
  
    #quiz-learning {
      height: auto;
      width: 100%;
    }
  
    .books {
        display: none;
    }
  
    #yt-links {
      height: auto;
      padding: 10px;
    }
  
    .links-yt {
      width: 100%;
    }
  
    #yt-links iframe {
      width: 100%;
      height: 100%;
    }
  
    #yt-links h2 {
      font-size: 20px;
      padding: 10px;
    }
  
    #quiz {
      height: 500px;
    }
  
    #quiz,
    #right-side {
      top: 30px;
    }
  
    #right-side {
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: relative;
      top : -25px;
    }
  
    #question-image {
      height: 65px;
      width: 100%;
    }
  
    #choices {
      height: 50%;
      overflow-y: auto;
    }
  
    .choice-button {
      font-size: 14px;
      padding: 5px;
    }
  
    #start,
    #play-again {
      padding: 5px 10px;
      font-size: 14px;
    }
    #score-image{
        height: 50px;
        width: 50px;
    }
  }