* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #E6E6FA, #B0C4DE);
    color: #000;
}

#header {
    width: 100%;
    height: 100vh;
    /* background-image: url("./images/main\ web\ welcome.jpg"); */
    background-size: cover;
    background-position: center;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    padding: 20px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
    background: linear-gradient(45deg, #E6E6FA, #B0C4DE);
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 30px;
    color: #000;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.header-text {
    width: 100%;
    margin-top: 10%;
    font-size: 30px;
    color: #000;
}

.header-text h1 {
    font-size: 60px;
    margin: 20px;
}

#asl-form {
    margin: 1rem 0;
}

#input-text {
    font-size: 1.125rem;
    height: 48px;
    width: 100%;
    border-radius: 6px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

#input-text:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

#input-text:active {
    transform: scale(0.95);
}

#input-text:focus {
    border: 2px solid grey;
}

#asl-output {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    /* overflow: auto; */
    position: relative;
    z-index: 100;
}

.asl-image {
    position: relative;
    width: 100px;
    height: 150px;
    border: 2px solid black;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #B0C4DE;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background: linear-gradient(45deg, #E6E6FA, #B0C4DE);
    color: #000;
    transition: background 0.5s;
}

.btn:hover {
    background: linear-gradient(45deg, #B0C4DE, #E6E6FA);
}


/* QUIZ-Learning CSS */

#container-quiz-learning {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#quiz-learning {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#quiz-learning h2 {
    font-size: 24px;
    margin-bottom: 20px;
    /* Add some space between the heading and the books div */
    align-self: flex-start;
}

.books {
    display: flex;
    flex-wrap: wrap;
    /* Allow the books to wrap onto multiple lines */
    justify-content: center;
    gap: 17px;
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.flip-card {
    background-color: transparent;
    width: 160px;
    height: 210px;
    font-family: sans-serif;
}

.flip-card-inner {
    position: relative;
    width: 140px;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* border: 1px solid coral; */
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
            rgb(255, 211, 195) 40%, rgba(28, 20, 17, 0.603) 48%);
    color: coral;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
            bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
}

.books a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.books img {
    height: 203px;
    width: 153px;
    margin-bottom: 10px;
    /* Add some space between the image and the paragraph */
}

.books a p {
    text-align: center;
    font-size: 10px;
    text-wrap: wrap;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #ff6347, #40e0d0);
    /* Change these to any colors you want */
}

#yt-links {
    height: 300px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#yt-links iframe {
    width: 295px;
    height: 180px;
    margin-bottom: 20px;
    border: 2px solid black;
    margin-left: 10px;
    border-radius: 25px;
}

#yt-links h2 {
    color: #000000;
    margin-bottom: 10px;
    width: 100%;
}

#yt-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex: 1 0 21%;
    margin: 10px;
    box-sizing: border-box;
    margin-left: 70px;
}

#yt-links ul li {
    margin-bottom: 10px;
}

#yt-links ul li a {
    color: #0066cc;
    text-decoration: none;
}

#yt-links ul li a:hover {
    text-decoration: underline;
}




#quiz-learning {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#learning-link {
    height: 370px;
    width: 50%;
}

.quiz-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    top: 38px;
}


#quiz {
    height: 450px;
}

#quiz,
#right-side {
    position: relative;
    top: 20px;
    flex: 1;
    text-align: center;
}

#right-side {
    top: 80px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#right-side h3 {
    margin-top: 20px;
}

#question-image {
    position: relative;
    left: 5px;
    width: 100%;
    height: 20%;
    border: 4px solid black;

}

#choices {
    display: flex;
    flex-direction: column;
}

.choice-button {
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Add this line */
}

.choice-button:hover {
    transform: scale(1.05);
    /* Add this line */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    /* Add this line */
}

#score-image {
    width: 100px;
    transition: opacity 1s ease-in-out;
}

#start,
#play-again {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

}

#start:hover,
#play-again:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    /* Add this line */
}



/* --------------css media-------------- */
nav .fas {
    display: none;
}

@media only screen and (max-width: 600px) {
    #container-quiz-learning {
        flex-direction: column;
    }

    #quiz-learning {
        flex-direction: column;
        align-items: center;
    }

    .books {
        flex-direction: column;
        align-items: center;
    }

    .flip-card {
        width: 100%;
    }

    #yt-links {
        flex-direction: column;
        align-items: center;
    }

    #yt-links iframe {
        width: 100%;
        height: auto;
        margin-right:100px;
    }

    #learning-link {
        width: 100%;
    }

    #quiz,
    #right-side {
        width: 100%;
    }

    #right-side {
        height: auto;
    }

    #question-image {
        height: auto;
    }

    .header-text {
        /* background-image: url(images/phone-background.png); */
        margin-top: 15%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .logo {
        font-size: 34px;
    }

    .btn.git {
        display: none;
    }

    nav .fas {
        display: block;
        font-size: 30px;

    }

    nav ul {
        background: #4f96eb;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;

    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }


}