* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(to right, #E6E6FA, #B0C4DE); */
    background: #F5F5F5;
    color: #000;
}

#header {
    width: 100%;
    height: 100vh;
    /* background-image: url("./images/main\ web\ welcome.jpg"); */
    background-size: cover;
    background-position: center;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    padding: 20px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
    background: linear-gradient(45deg, #dcd6f7, #fde2e4);
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a:hover {
    color: #5d5d5d;
}

.header-text {
    width: 100%;
    margin-top: 10%;
    font-size: 30px;
    color: #000;
}

.header-text h1 {
    font-size: 60px;
    margin: 20px;
}
.header-text p {
    font-size: 40 px;
    margin: 20px;
}


#sl-image{
    height: 250px;
    width: 250px;
    position: absolute;
    right:  140px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px grey; 
}
#sl-image:hover{
    transform: scale(1.1);
}
#asl-form {
    margin: 1rem 0;
}

#input-text {
    padding-left:  15px;
    font-size: 1.125rem;
    height: 48px;
    width: 100%;
    border-radius: 6px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

#input-text:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

#input-text:active {
    transform: scale(0.95);
}

#input-text:focus {
    border: 2px solid grey;
}
#button{
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

#asl-output {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    /* overflow: auto; */
    position: relative;
    z-index: 100;
}

.asl-image {
    position: relative;
    width: 100px;
    height: 150px;
    border: 2px solid black;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.asl-image.visible {
    opacity: 1;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1.5px solid rgb(99, 99, 99);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none; 
    background-color: #fde2e4;
    color: #000;
    transition: background 0.5s;
    font-size: 18px;
}
#sign-language-select option{
    height: 15px;
}

.btn:hover {
    background: linear-gradient(40deg, #dcd6f7, #fde2e4);
}



/* --------------css media-------------- */
nav .fas {
    display: none;
}

@media only screen and (max-width: 700px) {
    #container-quiz-learning {
        flex-direction: column;
    }

    #quiz-learning {
        flex-direction: column;
        align-items: center;
    }

    .books {
        flex-direction: column;
        align-items: center;
    }

    .flip-card {
        width: 100%;
    }

    #yt-links {
        flex-direction: column;
        align-items: center;
    }

    #yt-links iframe {
        width: 100%;
        height: auto;
        margin-right:100px;
    }

    #learning-link {
        width: 100%;
    }

    #quiz,
    #right-side {
        width: 100%;
    }

    #right-side {
        height: auto;
    }

    #question-image {
        height: auto;
    }

    .header-text {
        /* background-image: url(images/phone-background.png); */
        margin-top: 15%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .logo {
        font-size: 34px;
    }

    .btn.git {
        display: none;
    }

    nav .fas {
        display: block;
        font-size: 30px;

    }

    nav ul {
        background: #4f96eb;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;

    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    #sl-image {
        visibility: hidden;
    }
    #sign-language-select{
        width: 158px;

    }
    #input-text{
        width: 350px;
    }
}