*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
}
div{
    padding-top: 10px;
    padding-left : 10px;
}
.info{
    height: 370px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-top : 2px solid black;
}
.text{
    line-height: 2;
    text-wrap: wrap;
    text-align: justify;
}
.text p{
    font-size: 20px;
    font-weight: 500;
}
.info .text{
    width: 72%;
}
.info img{
    height: 300px;
    width: 325px;
    position: absolute;
    right : 30px;
    top : 35px;
    border-radius: 20px;
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
}
.info img:hover {
    transform: translateY(3px);
    box-shadow: none;
}
#About{
    background-color: #fff8e1;
}
#quiz-learning{
    height: 370px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top : 2px solid black;
}
#learning-link{
    height: 370px;
    width: 50%;
    
}
#quiz{
    width: 100%;
    width: 600px;
    margin: 0 auto;
    text-align: center;

}

#question-image {
    width: 100%;
    height: 300px;
}

#choices {
    display: flex;
    flex-direction: column;
}

.choice-button {
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
}

#score {
    font-size: 24px;
    margin-top: 20px;
}
#play-again {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#play-again:hover {
    background-color: #0056b3;
}